
= image_tag 'Casa-Danesa-Logo.png'

.menu{style: 'margin: 50px'}
  = link_to 'Mahoney Southern Africa Adventure 2014', 'http://mahoney-southern-africa-2014.s3-website-us-west-1.amazonaws.com/index.html'

.version 0.3